<h1>Questionnaire: <%= @questionnaire_name %>
<h2>Completed by: <%= @user %></h2>

<ol>
    <% @answers.each do |answer| %>
	<%= render 'answer', answer: answer %>
    <% end %>
</ol>

<%= link_to "Back", responses_path %>
