<fieldset>
    <div class="input-group">
	<%= f.label :content, "Question" %><br>
	<%= f.text_field :content, class: "form-control", type: "text", placeholder: "Question" %><br>
	<%= f.label :answer, "Answer" %><br>
	<%= f.text_field :answer, class: "form-control", type: "text", placeholder: "Answer" %><br>
    </div>
</fieldset>
