<h1>New questionnaire</h1>

<%= render 'form' %>

<%= link_to 'Back', root_path %>

<br>
<ul id="testlist">
  <li>item 1</li>
</ul>

<button id="but">Add to list</button>
<script>
  $("#but").click(function(){
    $("#testlist").append('<li> test item </li>');
  });
</script>
