<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://cdn.datatables.net/responsive/1.0.3/css/dataTables.responsive.css">
	<meta name="description" content="Create and fill out questionnaires of all kinds">
	<meta name="author" content="Ben Cwik">
	<title>Questionnaires - Ben Cwik</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
    </head>
    <body>
	<div class="navbar">
	    <div class="container">
		<a class="navbar-brand" href='/'>
		    Questionnaires by Ben
		</a>
	    </div>
	</div>
	
	<div class="container">
	    <%= yield %>
	</div>
    </body>

    <script src="http://cdn.datatables.net/responsive/1.0.3/js/dataTables.responsive.js"></script>
</html>
